{% extends 'shared/layout.html' %}

{% block title %}
	فراموشی رمز عبور
{% endblock %}


{% block background %}
    <div class="background" style="background-color: mediumpurple">
{% endblock %}
{% block content %}


<main class="main">
            <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17"
                style="background-image: url('/static/assets/images/slider/vecteezy_purple-gradient-background-vector-art_17067277.jpg')">
                <div class="container">
                 <<form action="" method="post">
    <div class="user-details">
        {% csrf_token %}
        <div class="input-box">
            <span class="details sign-up">شماره همراه</span>
            <input type="text" name="mobile" value="{{ mobile }}">
            {{ forget_pass_form.errors }}
        </div>
    </div>
    <div class="button">
        <input type="submit" value="بازیابی رمزعبور">
    </div>
</form>
                </div><!-- End .container -->
            </div><!-- End .login-page section-bg -->
        </main><!-- End .main -->
    </div>{% endblock %}