{% extends 'shared/layout.html' %}

{% block title %}
	بازنشانی رمز عبور
{% endblock %}



{% block background %}
    <div class="background" style="background-color: mediumpurple">
{% endblock %}





{% block content %}



  <main class="main">


            <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17"
                style="background-image: url('/static/assets/images/slider/vecteezy_purple-gradient-background-vector-art_17067277.jpg')">
                <div class="container">
                    <div class="form-box">
                        <div class="row m-0">
                            <div class="col-12 p-0">
                                <form method="post">
                            {% csrf_token %}
                            <h3 class="mb-4 mt-3 text-center">بازنشانی رمز عبور</h3>
                            <div class="form-group">
                                <label>رمز عبور جدید</label>
                                {{ reset_pass_form.password}}
                                {{ reset_pass_form.password.errors }}
                            </div>
                            <div class="form-group">
                                <label>تکرار رمز عبور جدید</label>
                                {{ reset_pass_form.confirm_password }}
                                {{ reset_pass_form.confirm_password.errors }}
                            </div>
                            <div class="form-group mt-3">
                                <button class="btn btn-outline-primary-2 btn-block" type="submit">انجام شد
                                </button>
                            </div>
                            <p>رمز عبور خود را به یاد آوردید؟<a class="mr-2" href="{% url 'login_page' %}">وارد
                                    شوید</a></p>
                            <input type="hidden" name="mobile" value="{{ user.mobile }}">
                        </form>
                            </div>
                        </div>
                    </div><!-- End .form-box -->
                </div><!-- End .container -->
            </div><!-- End .login-page section-bg -->
        </main><!-- End .main -->



</div>{% endblock %}

