{% extends 'shared/layout.html' %}
{% load poll_extras %}


{% block title %}
	سبد خرید
{% endblock %}



{% block background %}
    <div class="background" style="background-color: mediumpurple">
{% endblock %}


{% block content %}
<div id="order-detail-content">
	<main class="main">
            <div class="page-header text-center" style="background-image: url('/static/assets/images/slider/vecteezy_purple-gradient-background-vector-art_17067277.jpg')">
                <div class="container">
                    <h1 class="page-title">سبد خرید<span>فروشگاه</span></h1>
                </div><!-- End .container -->
            </div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index-1.html">خانه</a></li>
                        <li class="breadcrumb-item"><a href="#">فروشگاه</a></li>
                        <li class="breadcrumb-item active" aria-current="page">سبد خرید</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                {% include 'accounts/user_basket_content.html' with user=user %}
            </div><!-- End .page-content -->
        </main><!-- End .main -->
</div>
    </div>

{% endblock %}