	<script src="/static/assets/js/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
	<script src="/static/assets/js/bootstrap.bundle.min.js"></script>
	<script src="/static/assets/js/jquery.hoverIntent.min.js"></script>
	<script src="/static/assets/js/jquery.waypoints.min.js"></script>
	<script src="/static/assets/js/superfish.min.js"></script>
	<script src="/static/assets/js/owl.carousel.min.js"></script>
	<script src="/static/assets/js/bootstrap-input-spinner.js"></script>
	<script src="/static/assets/js/jquery.plugin.min.js"></script>
	<script src="/static/assets/js/jquery.countdown.min.js"></script>
	<script src="/static/assets/js/jquery.magnific-popup.min.js"></script>
	<!-- Main JS File -->
	<script src="/static/assets/js/main.js"></script>
	<script src="/static/assets/js/demos/demo-24.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/static/assets/js/test_basket.js"></script>
    <script src="/static/assets/js/custom.js"></script>
    